@using DarkSky.OrchardMarket
@{
	Style.Include("Account.min.css");
	Layout.Title = T("My Account");
    Layout.TitleZone.Add(New.Content_Title());

    var account = Model.Account;
    var profile = Model.Profile;
    var statistics = Model.Statistics;
    var payoutMethod = Model.PayoutMethod;
    var avatarUrl = (string)(!string.IsNullOrWhiteSpace((string)account.LogoUrl) ? account.LogoUrl : ViewBag.DefaultAvatarUrl);
}
<div class="account-details">
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="group">
            <div class="column column1">
                <div class="field-editor single-line">
                    <label>@T("Username")</label>
                    <span>@account.UserName</span>
                </div>
                <div class="field-editor single-line">
                    <label>@T("Email")</label>
                    <span>@account.Email</span>
                </div>
                <div class="field-editor single-line">
                    <label>@T("Password")</label>
                    <span>****************</span>
                </div>
            </div>
            <div class="column right">
                <div class="field-editor">
                    <div class="logo-wrapper">
                        <img src="@Url.Content(avatarUrl)" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="commands">
            @Html.ActionLink(T("Edit Account").Text, "Edit", "Account", null, new { @class = "button", area = ModuleInfo.ModuleName })
        </div>
    </fieldset>
    
    <fieldset>
	    <legend>@T("Contact Information")</legend>
        <div class="group">
            <div class="column">
                <div class="summary">
                    <label>@string.Format("{0} {1}", profile.FirstName, profile.LastName)</label>
                    <span>@profile.AddressLine1</span>
                    <span>@profile.AddressLine2</span>
                    <span>@string.Format("{0} {1}", profile.Zipcode, profile.City)</span>
                    <span>@profile.Country</span>
                </div>
            </div>
        </div>
        <div class="commands">
            @Html.ActionLink(T("Edit Profile").Text, "Edit", "Profile", null, new { @class = "button", area = ModuleInfo.ModuleName })
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Account Statistics</legend>
        <div class="field-editor single-line">
            <label>Total Purchases</label>
            <div class="value">@statistics.Purchases</div>
        </div>
        <div class="field-editor single-line">
            <label>Last Login</label>
            <div class="value">@account.LastLogin</div>
        </div>
    </fieldset>

    @*<fieldset>
	    <legend>Account Statistics</legend>
	    <div class="field-editor single-line">
		    <label>Rating</label>
		    <div class="value avatar-wrapper"><img src="@Url.Content("~/Modules/DarkSky.OrchardMarket/Content/rating.png")" alt=""/></div>
	    </div>
	    <div class="field-editor single-line">
		    <label>Total Sales</label>
		    <div class="value">@statistics.Sales</div>
	    </div>
	    <div class="field-editor single-line">
		    <label>Total Purchases</label>
		    <div class="value">@statistics.Purchases</div>
	    </div>
	    <div class="field-editor single-line">
		    <label>Total Revenues</label>
		    <div class="value">@statistics.Revenues.Total.ToString("c")</div>
	    </div>
	    <div class="field-editor single-line">
		    <label>Organization Balance</label>
		    <div class="value">@statistics.Balance.Total.ToString("c")</div>
	    </div>
	    <div class="field-editor single-line">
		    <label>Last Login</label>
		    <div class="value">@account.LastLogin</div>
	    </div>
    </fieldset>*@

    @*<fieldset>
        <legend>Payment Details</legend>
        <div class="field-editor">
            <label>Preferred Payout Method</label>
            <div class="value">
                @if (!string.IsNullOrWhiteSpace(payoutMethod.MethodName)) {
                    @payoutMethod.MethodName
                }
                else {
                    <text>@T("No current payout method selected")</text>
                }
            </div>
        </div>
        <div class="commands">
            @Html.ActionLink(T("Edit Payout Options").Text, "Index", "PayoutOption", null, new { @class = "button", area = ModuleInfo.ModuleName })
        </div>
    </fieldset>*@
</div>