<div class="sort-options-wrapper group">
    <label>@T("Sort Results:")</label>
    <ul class="group">
        <li><span>@T("Title")</span></li>
        <li><a href="#">@T("Most Sold")</a></li>
        <li><a href="#">@T("Price")</a></li>
        <li><a href="#">@T("Publishing Date")</a></li>
        <li class="last"><a href="#">@T("Rating")</a></li>
    </ul>
</div>