@{
    Layout.Title = Html.TitleForPage(T("Change Password").Text);
    Layout.TitleZone.Add(New.Content_Title());
    Layout.AsideFirst.Add(New.Account_SignUp_Aside());
}
<p>@T("Use the form below to change your password.")</p>
<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="field-editor">
            <label for="newPassword">@T("New password:")</label>
            @Html.Password("newPassword") 
            @Html.ValidationMessage("newPassword") 
        </div>
        <div class="field-editor">
            <label for="confirmPassword">@T("Confirm new password:")</label>
            @Html.Password("confirmPassword") 
            @Html.ValidationMessage("confirmPassword") 
        </div>
        <div class="commands">
            <a class="button-big submit" href="#">Change Password</a>
        </div>
    </fieldset>
 } 