@{
    Layout.Title = T("Lost Password");
    Layout.TitleZone.Add(New.Content_Title());
    Layout.AsideFirst.Add(New.Account_SignIn_Aside());
}

<p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="field-editor">
            <label for="username">@T("Username or E-mail:")</label>
            @Html.TextBox("username") 
            @Html.ValidationMessage("username") 
        </div>
        <div class="commands">
            <a class="button-big submit" href="#">@T("Send Request")</a>
	    </div>
    </fieldset>
 } 