@T("Sort Results:")
<ul>
    <li><span>@T("Relevant")</span></li>
    <li><a href="#beta">@T("Most Sold")</a></li>
    <li><a href="#beta">@T("Price")</a></li>
    <li><a href="#beta">@T("Title")</a></li>
    <li><a href="#beta">@T("Publishing Date")</a></li>
    <li><a href="#beta">@T("Rating")</a></li>
</ul>