@model DarkSky.OrchardMarket.ViewModels.ProfileViewModel
@{
    Style.Include("Profile.min.css");
    Layout.Title = T("Edit Profile");
    Layout.TitleZone.Add(New.Content_Title());
}

@using(Html.BeginFormAntiForgeryPost()) {
    @Html.HiddenFor(m => m.ReturnUrl)
	<fieldset>
        <legend>@T("Profile Details")</legend>
        
        @Html.ValidationSummary() 
        
        <div class="group">
            <div class="column column1">
                <div class="field-editor">
                    @Html.LabelFor(m => m.FirstName, T("First Name"))
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "textMedium" })
                    @Html.ValidationMessageFor(m => m.FirstName, "*")
                </div>
                <div class="field-editor">
                    @Html.LabelFor(m => m.LastName, T("Last Name"))
                    @Html.TextBoxFor(m => m.LastName, new { @class = "textMedium" })
                    @Html.ValidationMessageFor(m => m.LastName, "*")
                </div>
            </div>
            <div class="column column2">
                <div class="field-editor">
                    @Html.LabelFor(m => m.Address.AddressLine1, T("Address Line 1"))
                    @Html.TextBoxFor(m => m.Address.AddressLine1, new { @class = "textMedium" })
                    @Html.ValidationMessageFor(m => m.Address.AddressLine1, "*")
                </div>
                <div class="field-editor">
                    @Html.LabelFor(m => m.Address.AddressLine2, T("Address Line 2"))
                    @Html.TextBoxFor(m => m.Address.AddressLine2, new { @class = "textMedium" })
                    @Html.ValidationMessageFor(m => m.Address.AddressLine2, "*")
                </div>
                <div class="field-editor">
                    @Html.LabelFor(m => m.Address.Zipcode, T("Zipcode"))
                    @Html.TextBoxFor(m => m.Address.Zipcode, new { @class = "textMedium" })
                    @Html.ValidationMessageFor(m => m.Address.Zipcode, "*")
                </div>
                <div class="field-editor">
                    @Html.LabelFor(m => m.Address.City, T("City"))
                    @Html.TextBoxFor(m => m.Address.City, new { @class = "textMedium" })
                    @Html.ValidationMessageFor(m => m.Address.City, "*")
                </div>
                <div class="field-editor">
                    @Html.LabelFor(m => m.Address.CountryId, T("Country"))
                    @Html.EditorFor(m => m.Address.CountryId)
                    @Html.ValidationMessageFor(m => m.Address.CountryId, "*")
                </div>
            </div>
        </div>
		<div class="commands">
            <a class="button submit" href="#">Save</a>
            <a class="button" href="@Url.Content(Model.ReturnUrl)">Cancel</a>
		</div>
	</fieldset>
}